.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    padding: 10px;
    position: sticky; 
    top: 0; 
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fd5949 15%,#d6249f 45%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    width: 100%;
    z-index: 10 ;
}

.navbar__left{
    flex: 0.2;
}

.navbar__center{
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__right{
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar__right > button {
    margin-right: 20px;
}

.navbar__navlink{
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    color: rgba(255,255,255,.60);
}

.navbar__navlink:hover{
    font-size: 20px;
    transform: scale(1.1);
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    color: white;
}

.navbar__active{
    color: white;
    font-size: 20px;
}

.navbar__right button{
    border: 1px solid white;
    color: white;
}
