.upload{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: auto;
    vertical-align: middle;
    margin-top: 100px;
    border-radius: 14px;
}

.upload__form{
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    background-color:white;
    flex: 0.5;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.upload__form > form {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 20px;
}

.upload__formLeft{
    flex: 0.4;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border-right: 1px solid grey;
}

.upload__formRight{
    flex: 0.6;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
    justify-content: space-between;
}

input {
    border: none;
    outline: none;
    padding: 6px;
    margin: 4px;
    font-size: 18px;
}

.upload__formRight button{
    background: radial-gradient(circle at 30% 107%, #fd5949 5%,#d6249f 35%,#285AEB 80%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    color: white;
}

#input-file{
    display: none;
    opacity: 0;
    width: 0;
}

#icon-button:hover{
    background-color: transparent;
}